.*swp
.htaccess
*~
*.DS_Store
application/logs/*
application/cache/*
media/uploads/*
iframe.html
sitemap2.xml
sitemap.xml 
camera.html 
robots.txt
indonesia/
pemilu/           
SEO/
tests/
pelanggaran-pemilu/ 
pileg2014/   
statistik/
blog/
pelanggaran2014/
blackberry/    
photo/       
about-us/      
dev/ 
pemilu2014/
application/config/auth.php
application/config/config.php
application/config/database.php
application/config/encryption.php
tests/phpunit/phpunit.xml
